<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<title>Jujutsu Arena</title>
</head>

<body>

	<div class="globalContainer">
		<div class="advertisingContainer backgroundColor">
			aqui ira la publicidad
		</div>
		<div class="mainContainer">
			<div class="topBlock">
				<div class="navbarBlock backgroundColor">
					<div class="navigationButtons">
						<a class="botonInicio btn btn-white" th:href="@{/}">STARPAGE</a>
						<a class="botonInicio btn btn-white">START PLAYING</a>
						<a class="botonInicio btn btn-white">GAME MANUAL</a>
						<a class="botonInicio btn btn-white">LADDERS</a>
						<a class="botonInicio btn btn-white">MISSIONS</a>

					</div>
					<div class="imageNavbar">
						aqui ira la imagen
					</div>
				</div>
				<div class="frontPageBlock">
					<div class="tituloPortada">
						<img style="width: 100%; height: 100%;" src="https://i.imgur.com/DcnexpS.png">
					</div>
					<div class="imagenPortada">
						<img style="width: 100%; height: 100%;" id="imagenAleatoria" src="">
					</div>
				</div>
			</div>


			<div class="bottomBlock">
				<div class="opcionUsuario colorFondo">
					<div class="bloqueUsuario letraBlanca palabrasBloqueUsuario">
						<div class="bloqueUsuario1">
							<h5><u class="titulosBloqueUsuario">Jujutsu-Boards</u></h5>
							The official forum of<br>
							<a class="letraBlanca" href="">Jujutsu-Arena.site</a><br>
							<i class="palabrasBloqueUsuario">is not yet available.</i>
						</div>
						<br>

						<h5 class="titulosBloqueUsuario"><u>Account</u></h5><span>Welcome, </span><b>Usuario</b><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">View Profile</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Control
									Panel</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Change title
									(NEW)</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Change
									Avatar</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Clan Panel</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Custom
									Background</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Reset
									account</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Logout</u></b></a>

					</div>

				</div>
				<div class="topLadder colorFondo">
					<div class="bloqueUsuario letraBlanca palabrasBloqueUsuario">
						<div class="bloqueUsuario1">
							<h5><u class="titulosBloqueUsuario">Jujutsu-Boards</u></h5>
							The official forum of<br>
							<a class="letraBlanca" href="">Jujutsu-Arena.site</a><br>
							<i class="palabrasBloqueUsuario">is not yet available.</i>
						</div>
						<br>

						<h5 class="titulosBloqueUsuario"><u>Account</u></h5><span>Welcome, </span><b>Usuario</b><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">View Profile</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Control
									Panel</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Change title
									(NEW)</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Change
									Avatar</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Clan Panel</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Custom
									Background</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Reset
									account</u></b></a><br>
						<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Logout</u></b></a>

					</div>
				</div>
				<div class="info">
					aqui ira la info
				</div>
			</div>

		</div>


	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
		integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

	<script>
		var imagenes = [
			'https://i.imgur.com/k8Qtlyf.png',
			'https://i.imgur.com/6eZjAou.png',
			'https://i.imgur.com/2QYFEKQ.png',
			'https://i.imgur.com/7KNafXw.png',
			'https://i.imgur.com/M1XgdJe.png',
			'https://i.imgur.com/yywbOxd.png',
			'https://i.imgur.com/b1C8bqq.png',
		];
		// Array para llevar el seguimiento de las imágenes mostradas
		var imagenesMostradas = [];

		// Función para obtener una imagen aleatoria que no se haya mostrado
		function obtenerImagenAleatoria() {
			if (imagenesMostradas.length === 0) {
				// Si todas las imágenes se han mostrado al menos una vez, reiniciar el array de imágenes mostradas
				imagenesMostradas = [...imagenes];
			}

			var indiceAleatorio = Math.floor(Math.random() * imagenesMostradas.length);
			var imagenAleatoria = imagenesMostradas.splice(indiceAleatorio, 1)[0];

			return imagenAleatoria;
		}

		// Obtén la referencia a la etiqueta de imagen
		var imgElement = document.getElementById('imagenAleatoria');

		// Establece la fuente de la imagen al cargar la página
		window.onload = function () {
			imgElement.src = obtenerImagenAleatoria();
		};
	</script>
</body>

</html>