<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<title>Jujutsu Arena</title>
</head>

<body>
	<div class="globalContainer">
		<div class="advertisingContainer backgroundColor">
			<div class="advertising">
			</div>
		</div>

		<div class="mainContainer">

			<div th:insert="~{plantilla/template :: bloqueSuperior}"></div>

			<div class="bottomBlock">
				<div th:insert="~{plantilla/template :: bloqueInferiorLateral}" class="userBlock backgroundColor"></div>

				<div class="mainBlockManual">
					<div class="mainBlockContent">
						<h1 class="titleMainBlock">Characters and Skills</h1>
						<div class="fontManualSize">
							<a class="fontManual" th:href="@{/}">Jujutsu-Arena</a> >
							<a class="fontManual" th:href="@{/manual}">Game manual</a> >
							<a class="fontManual" th:href="@{/characters}">Characters and Skills</a> >
							<h1 th:text="${characterSelected.nombrePersonaje}" class="routes subTitleMainBlock">
							</h1>
							<br>
							<br>
							<br>
							<br>
							<br>
							<div class="descriptionManual fontManual">
								Jujutsu-Arena forces you to select 3 characters when you start a new game. This page
								gives you an overview of all characters available in the Jujutsu-Arena game. Not only
								can
								you view each character's skills, you can also discuss the characters by posting
								comments.
							</div>
							<br>
							<div class="containerManualOptions">

								<div class="characterSkillsDiv">

									<div class="characterDetails">
										<div class="manualOptionTop">
											<h2 th:text="${characterSelected.nombrePersonaje}"
												class="titleManualOptions"></h2>
										</div>
										<div class="manualOptionBottom">
											<div class="manualOptionDiv">
												<div class="contentCharacter">
													<img th:src="${characterSelected.imagenPersonaje}" width="80px"
														height="80px" class="imageCharacterSkills">
													<p th:text="${characterSelected.descripcionPersonaje}"
														class="descriptionCharacterSkills">

													</p>
													<div class="requirement"><span
															style="font-weight: 600; font-size: 11.5px;">Requirement to
															unlock: </span><span>No requirements</span></div>
												</div>
											</div>
										</div>
									</div>

									<br>

									<div class="skillsDiv">

										<div th:each="passive:${pasivas}" class="pasive">
											<img th:src="${passive.imagenPasiva}" width="60px"
												height="60px" class="pasiveImage">
											<div>
												<div>
													<span th:text="${passive.nombrePasiva}"
														class="fontNamepasive"></span>
												</div>
												<p th:text="${passive.descripcionPasiva}" class="">

												</p>
											</div>
										</div>

										<div th:each="fila:${skills}" class="skill">
											<div class="skillTop"><span>Skill: </span><span
													th:text="${fila.nombreHabilidad}" class="fontNameSkill"></span>
											</div>
											<div class="skillCenter">
												<img th:src="${fila.imagenHabilidad}" width="80px" height="80px"
													class="imageCharacterSkills">
												<div th:text="${fila.descripcionHabilidad}" class="skillDescription">
												</div>
											</div>
											<div class="skillBottom">
												<div>
													<div><u>Cooldown:</u><span> </span><span>1</span></div>
													<div class="classes">Classes:<span> </span><span>Chakra,
															Instant</span></div>
												</div>
												<div class="prueba"></div>
												<u>Chakra required:</u>
											</div>
										</div>

									</div>
								</div>

							</div>

						</div>
					</div>
				</div>

			</div>


		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
			integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
			crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		
		<!--script para las imagenes debajo del titulo-->		
		<script src="/js/funcionesBloqueSuperior.js"></script>
		
		<script>
			//obtener el codigo de un PERSONAJE
			$(document).on("click", "#detailsCharacter", function () {
				let cod;
				cod = this.getAttribute("codigo");
				alert(cod);
			})			
		</script>

</body>

</html>