<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<!--data table-->
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

	<title>Jujutsu PERSONAJES</title>
</head>

<body  class="contenedor">

	<div>
		<h1 class="titulo">Personajes</h1>
	</div>
	<div>
		<div class="container">
			<div class="btnNuevo">
				<button class="btn btn-info">Nuevo Personaje</button>
			</div>
			<table id="tablePersonajes" class="table table-striped table-bordered my-4">
				<thead>
					<tr>
						<!--	<th>Código</th> -->
						<th>Imagen</th>
						<th>Nombre Personaje</th>
						<th>Descripcion Personaje</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="fila:${personajes}">
						<!--	<td th:text="${fila.codigoPersonaje}"></td>  -->
						<td id="td_imagen"> <img style="width: 100px; height: 100px;" th:src="${fila.imagenPersonaje}">
						</td>
						<td th:text="${fila.nombrePersonaje}"></td>
						<td th:text="${fila.descripcionPersonaje}"></td>
						<td class="tamaño_celda" style="text-align: center;"><button
								class="btn btn-warning btn-actualizar" data-toggle="modal"
								data-target="#modalRegistroMaterial"><i class="bi bi-pencil"></i></button></td>
						<td class="tamaño_celda" style="text-align: center;"><button
								class="btn btn-danger btn-eliminar"><i class="bi bi-trash"></i></button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<form id="formCodigoPersonaje" method="post" action="/personajes/habilidades">
		<input type="hidden" id="codigo-personaje" name="codigo-personaje">
	</form>
	<!--data table-->
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
		integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

	<script>
		//obtener el codigo de un PERSONAJE
		$(document).on("click", ".btn-imagen-personaje", function () {
			let cod;
			cod = $(this).val();
			$("#codigo-personaje").val(cod);
			$("#formCodigoPersonaje").submit();
		})
	</script>
	
	<script>
	$(document).ready(function() {
		$('#tablePersonajes').DataTable();
	});
</script>

</body>

</html>