<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<title></title>
</head>

<body>



	<div class="globalContainer">

		<div th:fragment="bloqueSuperior">
			<div class="topBlock">
				<div class="navbarBlock backgroundColor">
					<div class="navigationButtons">
						<a class="botonInicio btn btn-white" th:href="@{/}">STARPAGE</a>
						<button id="btnStartPlaying" class="botonInicio btn btn-white">START PLAYING</button>
						<a class="botonInicio btn btn-white" th:href="@{/manual}">GAME MANUAL</a>
						<a class="botonInicio btn btn-white" th:href="@{/}">LADDERS</a>
						<a class="botonInicio btn btn-white" th:href="@{/}">MISSIONS</a>
						<a class="btn btn-white discordButton" th:href="@{/}"></a>
					</div> 

				</div>
				<div class="frontPageBlock">
					<div class="frontPageTitle">
						<img style="width: 100%; height: 100%;" src="https://i.imgur.com/DcnexpS.png">
					</div>
					<div class="frontPageImage">
						<img style="width: 100%; height: 101%;" id="imagenAleatoria" src="">
					</div>
				</div>
			</div>
		</div>

		<div class="bottomBlock">

			<div th:fragment="bloqueInferiorLateral" class="userBlock backgroundColor">
				<div class="bloqueUsuario letraBlanca palabrasBloqueUsuario">
					<a class="btn patreonButon" th:href="@{/}"></a>
					<div class="bloqueUsuario1">
						<h5><u class="titulosBloqueUsuario">Jujutsu-Boards</u></h5>
						The official forum of<br>
						<a class="letraBlanca" href="">Jujutsu-Arena.site</a><br>
						<i class="palabrasBloqueUsuario">is not yet available.</i>
					</div>
					<br>

					<h5 class="titulosBloqueUsuario"><u>Account</u></h5><span>Welcome, </span><b>Usuario</b><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">View Profile</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Control
								Panel</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Change title
								(NEW)</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Change
								Avatar</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Clan Panel</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Custom
								Background</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Reset
								account</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Logout</u></b></a>

					<br>
					<br>
					<h5 class="titulosBloqueUsuario"><u>Latest news</u></h5>
					>><a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Balance 0.0.1</u></b></a><br>
					>><a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Balance 0.0.2</u></b></a><br>
					>><a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Balance 0.0.3</u></b></a><br>
					>><a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Balance 0.0.4 + primera
								noticia</u></b></a><br>
					>><a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Balance 0.0.5 +
								anuncio</u></b></a><br>
					>><a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Balance 0.0.6</u></b></a><br>
					>><a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Balance 0.0.7 + segunda
								noticia</u></b></a><br>
					>><a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Balance 0.0.8 +
								anuncio</u></b></a><br>
					>><a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Balance 0.1.1 + tercera
								noticia</u></b></a><br>

				</div>

			</div>


			<div class="userBlock backgroundColor">
				<div class="bloqueUsuario letraBlanca palabrasBloqueUsuario">
					<div class="bloqueUsuario1">
						<h5><u class="titulosBloqueUsuario">Jujutsu-Boards</u></h5>
						The official forum of<br>
						<a class="letraBlanca" href="">Jujutsu-Arena.site</a><br>
						<i class="palabrasBloqueUsuario">is not yet available.</i>
					</div>
					<br>

					<h5 class="titulosBloqueUsuario"><u>Account</u></h5><span>Welcome, </span><b>Usuario</b><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">View Profile</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Control
								Panel</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Change title
								(NEW)</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Change
								Avatar</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Clan Panel</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Custom
								Background</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Reset
								account</u></b></a><br>
					<a class="letraBlanca" href><b><u class="palabrasBloqueUsuario">Logout</u></b></a>

				</div>
			</div>
			<div class="mainBlock">
				<div class="mainBlockContent">
					<h1 class="titleMainBlock">Jujutsu Arena</h1>
					<h1 class="subTitleMainBlock">Your #1 Jujutsu Kaisen Online Multiplayer Game</h1>

					<div class="notice">
						<h1 class="noticeTitle">Balance 0.1.1</h1>
						<h2 class="dateNotice">>> Sabado, Febrero 17, 2024 22:41 by Percyval</h2>
						</h2>
						<p class="greeting">
							Hola jugadores, nos complace anunciar que el index de la página esta completa
							en un 50%, ya no falta mucho para acabar con esta parte.
						</p>
						<p class="additional">
							Adicionalmente, los primeros personajes estan próximos a estrenarse, atentos para
							mas noticias.
						</p>
						<h2 class="separator">
							.............................................................................................................................................
					</div>

					<div class="notice">
						<h1 class="noticeTitle">Balance 0.1.1</h1>
						<h2 class="dateNotice">>> Sabado, Febrero 17, 2024 22:41 by Percyval</h2>
						</h2>
						<p class="greeting">
							Hola jugadores, nos complace anunciar que el index de la página esta completa
							en un 50%, ya no falta mucho para acabar con esta parte.
						</p>
						<p class="additional">
							Adicionalmente, los primeros personajes estan próximos a estrenarse, atentos para
							mas noticias.
						</p>
						<h2 class="separator">
							.............................................................................................................................................
					</div>

					<div class="notice">
						<h1 class="noticeTitle">Balance 0.1.1</h1>
						<h2 class="dateNotice">>> Sabado, Febrero 17, 2024 22:41 by Percyval</h2>
						</h2>
						<p class="greeting">
							Hola jugadores, nos complace anunciar que el index de la página esta completa
							en un 50%, ya no falta mucho para acabar con esta parte.
						</p>
						<p class="additional">
							Adicionalmente, los primeros personajes estan próximos a estrenarse, atentos para
							mas noticias.
						</p>
						<h2 class="separator">
							.............................................................................................................................................
					</div>

					<div class="notice">
						<h1 class="noticeTitle">Balance 0.1.1</h1>
						<h2 class="dateNotice">>> Sabado, Febrero 17, 2024 22:41 by Percyval</h2>
						</h2>
						<p class="greeting">
							Hola jugadores, nos complace anunciar que el index de la página esta completa
							en un 50%, ya no falta mucho para acabar con esta parte.
						</p>
						<p class="additional">
							Adicionalmente, los primeros personajes estan próximos a estrenarse, atentos para
							mas noticias.
						</p>
						<h2 class="separator">
							.............................................................................................................................................
					</div>
				</div>
			</div>
		</div>

	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
		integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</body>

</html>