.input {
	background: silver;
	border: 1px solid #393939;
	border-radius: 5px 5px 5px 5px;
	color: #393939;
	font-size: 14px;
	padding: 5px;
	height: 31px;	
}	

.textarea, .textareaImg {
	background: silver;
	border: 1px solid #393939;
	border-radius: 5px 5px 5px 5px;
	color: #393939;
	font-size: 14px;
	padding: 5px;
	height: 147px;
}

.textareaImg{
	width: 250px;
}

.label {
	color: rgb(11, 102, 202);
	font-size: 15px;
	margin-bottom: 3px;
	font-weight: 500;
}

.divForm {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	align-items: normal
}

.imgInput{
	display: flex;
	flex-direction: row;
	align-items: normal;
	justify-content: space-between;
}

.titleForm{
	color: rgb(11, 102, 202);
	text-align: center;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.formContainer{
	display: flex;
    justify-content: center;
       
    /*borrar*/
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 1px;
    height: 800px;	
}

.form{
	width: 550px;
	border-radius: 15px;
	border-color: rgb(0, 0, 0);
	border-style: solid;
	border-width: 1px;
	padding: 50px;
}

.buttonForm{
	color: white;
	border: none;
	border-radius: 5px;
	background-color: rgb(11, 102, 202);
	width: 120px;
	height: 45px;
	font-size: 18px;
}

.buttonDiv{
	margin-top: 25px;
	display: flex;
    justify-content: center;
}

.buttonForm:hover{
	background-color: rgb(33, 133, 243);
}

#imagePreview{
	width: 147px;
	height: 147px;
	border-color: black;
	border-style: solid;
	border-width: 1px;	
}

