<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/style.css">
	<title>Jujutsu PERSONAJES</title>
</head>

<body>
	<div class="container-fluid mt-4">

		<div>
			<h1>PERSONAJES</h2>
		</div>
		<div id="contenedor_personajes" th:each="character:${personajes}" class="row pt-2 pb-2">
			<div class="col-md-1">
				<button class="btn p-0 btn-imagen-personaje" th:value="${character.codigoPersonaje}">
				<img class="imagen_personaje" th:src="${character.imagenPersonaje}">				
				</button>
			</div>
			<div class="col-md-11">
				<h2 class="pl-2" th:text="${character.nombrePersonaje}"></h2>
				<p class="pl-2" th:text="${character.descripcionPersonaje}"></p>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
		integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


	<script>
		//obtener el codigo de un PERSONAJE
		$(document).on("click", ".btn-imagen-personaje", function () {
			let cod;
			cod = $(this).val();
			console.log(cod);
		})
	</script>

</body>

</html>